{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Userconfig</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ userConfig.id }}</td>
            </tr>
            <tr>
                <th>Day_calories</th>
                <td>{{ userConfig.daycalories }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('userconfig_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('userconfig_edit', { 'id': userConfig.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
