{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Meal</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ meal.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if meal.date %}{{ meal.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Calories</th>
                <td>{{ meal.calories }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('meal_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('meal_edit', { 'id': meal.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
